{% include 'sitio/cabecera.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://imgs.search.brave.com/md_eRQ-uIVozVR9_4U7xP7sCaTdfHm08FsHtRjRbXbc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGRmZHJpdmUuY29t/L2Fzc2V0cy90aHVt/YnMvMDU5LzA1OWM0/YWExYTFmYTJhOWE2/MzlmNjVhMjEwMzEx/MGZhLmpwZw"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Python</h4>
          <p class="card-text">
            <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img
              class="card-img-top"
              src="https://imgs.search.brave.com/md_eRQ-uIVozVR9_4U7xP7sCaTdfHm08FsHtRjRbXbc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGRmZHJpdmUuY29t/L2Fzc2V0cy90aHVt/YnMvMDU5LzA1OWM0/YWExYTFmYTJhOWE2/MzlmNjVhMjEwMzEx/MGZhLmpwZw"
              alt="Title"
            />
            <div class="card-body">
              <h4 class="card-title">Python</h4>
              <p class="card-text">
                <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img
              class="card-img-top"
              src="https://imgs.search.brave.com/md_eRQ-uIVozVR9_4U7xP7sCaTdfHm08FsHtRjRbXbc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGRmZHJpdmUuY29t/L2Fzc2V0cy90aHVt/YnMvMDU5LzA1OWM0/YWExYTFmYTJhOWE2/MzlmNjVhMjEwMzEx/MGZhLmpwZw"
              alt="Title"
            />
            <div class="card-body">
              <h4 class="card-title">Python</h4>
              <p class="card-text">
                <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
              </p>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img
              class="card-img-top"
              src="https://imgs.search.brave.com/md_eRQ-uIVozVR9_4U7xP7sCaTdfHm08FsHtRjRbXbc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGRmZHJpdmUuY29t/L2Fzc2V0cy90aHVt/YnMvMDU5LzA1OWM0/YWExYTFmYTJhOWE2/MzlmNjVhMjEwMzEx/MGZhLmpwZw"
              alt="Title"
            />
            <div class="card-body">
              <h4 class="card-title">Python</h4>
              <p class="card-text">
                <a name="" id="" class="btn btn-primary" href="#" role="button">Descarga</a>
              </p>
            </div>
          </div>
    </div>
  </div>
</div>

{% include 'sitio/pie.html' %}
