


{% include 'admin/cabecera.html' %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenido al administrador</h1>
            <p class="lead"></p>
            <hr class="my-2">
            <p></p>
            <p>
                <button class="btn btn-primary btn-lg" role="button">
                    Example button
                </button>
            </p>
        </div>
    </div>
    
        
{% include 'admin/pie.html' %}